#text {
    background-color: aqua;
}

html {
    background-color: rgb(213, 181, 181);
}



@keyframes slide {
    0% {
        transform: translateX(100%);
        
        
    }
    50% {
        transform: translateX(50%);
        left: 50%;
    }
    100% {
        transform: translateX(0%);
        left: -30%;
    }
}

#animation-box {
    position: absolute;
    z-index: 5;
    left: 80%;
    width: 200px;
    animation: slide 5s ease-in-out forwards;

}

